body {
    font-family: Monaco;
}

#viz {
  width: 1000;
  height: 850;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header {
    font-size: 18pt;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: red;
}

.interview circle {
    fill: white;
    stroke-width: 2;
    stroke: #555;
}

.subject circle {
    fill: #55f;
}

circle {
    fill: #f55;
}

line {
    stroke: #111;
    stroke-width: 0.3;
}

.node text {
  font-size: 7pt;
  display: none;
}

.subject text {
  display: inline;
}
